body, html {
  height: 100%;
}

.home-header {
  background-color: $deep;
  height: 100%;
  color: #ffffff;
}

.top-line {
  position: absolute;
  width: 100%;
  height: $size;
  top: 0;
  border-bottom: 1px solid rgba(#fff, $border-opacity);
  z-index: 10;
  background-color: $deep;
  display: flex;
  align-items: center;
}
